.navbar-logo {
  max-height: 50px;
  padding-right: 20px;
}

/* Bold the left navigation items */
.navbar-nav.me-auto .nav-link,
.navbar-nav.me-auto .menu-text {
  font-weight: bold;
}

/* Bold the navigation bar title */
.navbar-title {
  font-weight: bold;
  color: #dce0e8;
}

.nav-link .menu-text {
  color: #dce0e8;
}

.blockquote {
}

.callout.callout-style-simple > div.callout-header {
  opacity: 85%;
}

.sidebar-menu-container .menu-text {
  opacity: 90%;
}
